/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', sans-serif;
}

/* FONDO */
body {
	background: #f4f6f9;
}

/* NAVBAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	background: linear-gradient(90deg, #7B1C4E, #a8326e);
	color: white;
}

.navbar-logo img {
	height: 45px;
}

.navbar-links {
	display: flex;
	list-style: none;
	gap: 25px;
}

	.navbar-links a {
		color: white;
		text-decoration: none;
		transition: 0.3s;
	}

		.navbar-links a:hover {
			color: gold;
		}

/* PERFIL */
.perfil-trigger {
	display: flex;
	align-items: center;
	gap: 10px;
}

.avatar {
	background: gold;
	color: black;
	border-radius: 50%;
	padding: 10px;
	font-weight: bold;
}

/* CONTENIDO */
.contenido {
	max-width: 1200px; /* limita el ancho */
	margin: auto; /* centra */
	padding: 20px; /* menos espacio */
}

/* SALUDO */
.saludo h2 {
	margin-bottom: 5px;
}

/* CARDS */
.cards-container {
	display: flex;
	gap: 15px;
	margin-top: 15px;
	flex-wrap: wrap; /* evita espacios raros */
}

.card {
	background: white;
	padding: 25px;
	border-radius: 15px;
	width: 250px;
	/* BORDE para que se vea el rectángulo */
	border: 2px solid #e0e0e0;
	/* SOMBRA MÁS MARCADA */
	box-shadow: 0 8px 18px rgba(0,0,0,0.15);
	/* TRANSICIÓN */
	transition: all 0.3s ease;
	text-align: center;
	position: relative;
	overflow: hidden;
}

	.card:hover {
		transform: translateY(-5px);
	}

.card-icono {
	font-size: 30px;
	margin-bottom: 10px;
}

/* BOTÓN */
	.btn-card {
		display: inline-block;
		margin-top: 12px;
		padding: 10px 18px;
		background: linear-gradient(135deg, #7B1C4E, #a8326e);
		color: white;
		border-radius: 10px;
		text-decoration: none;
		font-weight: 500;
		transition: all 0.3s ease;
	}
		/* HOVER (cuando pasas el mouse) */
		.btn-card:hover {
			background: linear-gradient(135deg, #a8326e, #7B1C4E);
			transform: scale(1.05);
		}
		/* CLICK */
		.btn-card:active {
			transform: scale(0.95);
		}

/* TABLA */
.seccion-reservas {
	margin-top: 20px;
}

.tabla-reservas {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	background: white;
	border-radius: 10px;
	overflow: hidden;
}

	.tabla-reservas th {
		background: #7B1C4E;
		color: white;
		padding: 10px;
	}

	.tabla-reservas td {
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}

/* ESTADOS */
.estado.confirmada {
	color: green;
	font-weight: bold;
}

.estado.pendiente {
	color: orange;
	font-weight: bold;
}
